.sobre-nosotros {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  font-family: var(--font-OpenSans);
}

.headerSobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 95%;
  margin-left: 2.5%;
  margin: 5% 0;
}

.headerSobre img {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgb(247, 220, 220), 0 10px 20px rgba(0, 0, 0, 0.4);
}

.headerSobre h2 {
  font-family: var(--font-Bowlby-One);
  color: white;
  border-right: 1px solid white;
  text-align: center;
  font-size: 1.2em;
}

.headerSobre p {
  color: rgb(231, 221, 221);
  font-size: 0.7em;
  text-align: center;
  border-right: 1px solid white;
  padding: 0 2%;
}

.sobre-nosotros h1 {
  color: white;
  font-size: min(2.3em 15px);
  border-bottom: 1px solid white;
  margin-top: 20px;
  box-sizing: border-box;
  width: 80%;
  text-align: center;
}

.tituloFundad{
  font-family: var(--font-Bowlby-One);
  color: white;
  margin-top: 3%;
  border-bottom: 1px solid white;
}

.mision-vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 5% 0;
}


.cardmisi {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  height: 27vh;
  background:  url("/img/fondocard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 0 2%;
  justify-content: center;
  box-shadow: 0 2px 4px rgb(218, 217, 221), 0 10px 20px rgba(53, 147, 224, 0.4);
  font-family: var(--font-OpenSans);
  font-size: 0.9em;
  gap:10px;
}

.cardmisi h2{
  font-weight: 900;
  font-style: bold;
  font-size: 1rem;
  font-family: var(--font-Bowlby-One);
  color: var(--color-Azuloscuro);
 padding: 1%;
}


.founders {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2% 0%;
}

.founder-card {
  background: #ffffff;
  padding: 2%;
  margin: 10px;
  width: 300px;
  height: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: url(/public/Fundadores/ffo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 80% ;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.founder-card h3 {
  margin-bottom: 5px;
  color: var(--color-Azuloscuro);
  font-family: var(--font-Bowlby-One);
  margin-top: 35%;
}

.founder-card p {
  margin: 5px 0;
  color: #080808;
  font-family: var(--font-OpenSans);
  font-weight: 500;

}

/* Media Query: Ajustes para pantallas más grandes */
@media (min-width: 768px) {
  .mision-vision{
    flex-direction: row;
  }

  .cardmisi{
    margin-left: 0;
    background-size: auto;
  }

.headerSobre {
  font-size: 2em;
}  

}

@media (min-width: 1024px) {

  .cardmisi{
    margin-left: 0;
    background-size: auto;
    width: 500px;
    font-size: 1rem;
  }
  .cardmisi h2{
    font-size: 1.5rem;
  }

}
