/* Grid para las tarjetas */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 3%;
    background-color: transparent;
}

.carritoCompra{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 0;
    gap: 1%;
    font-family: var(--font-OpenSans);
    color: white;
    width: 90%;
    box-sizing: border-box;
    margin-left: 5%;
}

.carrito{
    padding: 8px;
    background-color: white;
    border-radius: 30px;
    width: clamp(2rem, 4em, 5rem)   ;
    transition: all 0.3s ease;
    border: none;
}

.carrito:hover{
    background-color: #c3cbcf;
    transform: scale(1.1);
}
.tituloproduct{
    color: white;
    font-size: min(2.3em 15px);
    border-bottom: 1px solid white;
    margin-top: 20px;
    box-sizing: border-box;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.presiona{
    font-size:1em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    animation: colorChange 3s infinite; /* Cambia de color cada 2 segundos */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

@keyframes colorChange {
    0% {
      color: rgb(255, 255, 255);
    }
    50% {
      color: rgb(229, 255, 0);
    }
    100% {
      color: rgb(255, 255, 255);
    }
  }
  
  
  .presiona:hover {
    transform: scale(0.5.0.5); /* Efecto de zoom al pasar el mouse */
  }