/* Grid para las tarjetas */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 3%;
    background-color: transparent;
}

.carritoCompra{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 0;
    gap: 1%;
    font-family: var(--font-OpenSans);
    color: white;
    width: 90%;
    box-sizing: border-box;
    margin-left: 5%;
}

.carrito{
    padding: 1%;
    background-color: white;
    border-radius: 23px;
    width: 4em;
    transition: all 0.3s ease;
}

.carrito:hover{
    background-color: #00a3ff;
    transform: scale(1.1);
}